<!DOCTYPE html>
<html lang="en">


<head>
 
    <title>{% include 'title.html' %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .wrapper {
            width: 800px;
            margin: 0 auto;
        }

        table tr td:last-child {
            width: 800px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            {% include 'nav.html' %}

            {%- for message in get_flashed_messages() %}
            {{ message }}
            {%- endfor %}
            <h3 class="pull-left">Vehicle Details</h3>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Color</th>
                        <th>HP</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <form method="POST" action="./update" style="display: inline">
                            <td>{{ vehicle.car_id }}<input type="hidden" id="car_id" name="car_id" value="{{ vehicle.car_id }}"></td>
                            <td><input type="text" id="car_make" name="car_make" value="{{ vehicle.car_make }}"
                                    size="12"></td>
                            <td><input type="text" id="car_model" name="car_model" value="{{ vehicle.car_model }}"
                                    size="10"></td>
                            <td><input type="text" id="car_year" name="car_year" value="{{ vehicle.car_year }}"
                                    size="4"></td>
                            <td><input type="text" id="car_color" name="car_color" value="{{ vehicle.car_color }}"
                                    size="8"></td>
                            <td><input type="text" id="car_hp" name="car_hp" value="{{ vehicle.car_hp }}" size="4"></td>
                            <td>
                                <input type="submit" value="Update">
                        </form>
                        <form method="POST" action="./delete/{{ vehicle.car_id }}" style="display: inline">
                            <input type="submit" value="Delete">
                        </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>